@-webkit-keyframes ani {
    from {
     -webkit-mask-position: 0 0;
     mask-position: 0 0;
    }
   
    to {
     -webkit-mask-position: 100% 0;
     mask-position: 100% 0;
    }
   }
   
   @keyframes ani {
    from {
     -webkit-mask-position: 0 0;
     mask-position: 0 0;
    }
   
    to {
     -webkit-mask-position: 100% 0;
     mask-position: 100% 0;
    }
   }
   
   @-webkit-keyframes ani2 {
    from {
     -webkit-mask-position: 100% 0;
     mask-position: 100% 0;
    }
   
    to {
     -webkit-mask-position: 0 0;
     mask-position: 0 0;
    }
   }
   
   @keyframes ani2 {
    from {
     -webkit-mask-position: 100% 0;
     mask-position: 100% 0;
    }
   
    to {
     -webkit-mask-position: 0 0;
     mask-position: 0 0;
    }
   }